.banner{
	background-image: url(../../images/background-image.png);
	background-size: cover;
	background-position: center;
	color: black;
	padding: 150px 0px;
	font-size: 30spx;

}
.banner h1{
	font-size: 40px;
	font-family: "Poppins", sans-serif;
}
@media (max-width: 960px){
  .banner {
    width: 700px;
    height: 200px;
    margin: 0px 0px;
  }  }
@media (max-width: 720px) {
  .banner {
    width: 500px;
    height: 200px;
    margin: 0px 0px;
}   }
@media (max-width: 540px) {
  .banner{
    width: 400px;
    height: 200px;
    margin: 0px 0px;
  }   }